@use "../helpers" as *;

.about-hero {
  --section-height: #{rem(730)};

  @include large {
    --section-height: #{rem(600)};
  }

  @include small {
    --section-height: unset;
  }

  padding-top: 0;
  &__container {
    position: relative;
  }

  &__body {
    padding-top: fluid(24, 60);
    max-height: var(--section-height);
  }

  &__heading {
    margin-bottom: fluid(24, 60);
  }

  &__label {
    color: var(--color-accent);
    font-size: fluid(20, 36);
    line-height: 1.2;
  }

  &__title {
    font-weight: 400;
  }

  &__slider-outer {
    max-width: rem(828);
    margin-left: auto;

    @include large {
      max-width: 100%;
    }

    @include small {
      padding-bottom: rem(95);
    }
  }

  &__slider {
    max-height: var(--section-height);
    overflow: hidden;
  }

  &__slide {
    cursor: n-resize;
  }

  &__slide-content {
    max-width: rem(828);
    color: var(--color-white);
    h2 {
      color: inherit;
      text-align: left;
      font-size: fluid(24, 36);
    }
  }

  &__aside {
    position: absolute;
    left: 0;
    bottom: rem(100);
    transform: translateY(-50%) translateX(-20%) rotate(90deg);
    display: flex;
    flex-direction: column;

    @include large {
      top: unset;
      left: unset;
      right: 50%;
      bottom: rem(50);
      transform: translateY(0) translateX(50%) rotate(0);
      flex-direction: column;
      width: 100%;
    }

    @include small {
    }
  }
  &__aside-items {
    display: flex;
    justify-content: space-around;
    transform: translateY(rem(26));

    @include large {
      transform: unset;
    }
  }
  &__aside-item {
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    column-gap: rem(16);
    justify-content: flex-end;
    position: relative;
    top: rem(-14);
    font-size: fluid(14, 28);
    transition: color 0.3s ease;
    color: gray;
    flex-direction: row-reverse;

    @include large {
      top: rem(14);
      transform: rotate(0);
      writing-mode: horizontal-tb;
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(8);
    }

    &:nth-child(1) {
      color: var(--color-white) !important;
      &::after {
        background-color: var(--color-white) !important;
      }
    }

    &.active {
      color: var(--color-white);
      &::after {
        background-color: var(--color-white);
      }
    }

    &::after {
      content: "";
      background-color: #808080;
      width: rem(22);
      height: rem(22);
      border-radius: 50%;
      transition: all 1.6s ease;
      @include large {
      }
    }
  }

  &__progress-bar-wrapper {
    display: flex;
    width: rem(549);
    height: rem(5);
    background-color: #808080;

    @include large {
      width: 100%;
    }
  }
  &__progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--color-white);
    transition: width 1.9s ease;
  }
}
