@use "../helpers/" as *;

.cards-slider {
  &__controls {
    margin-top: fluid(24, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: fluid(16, 40);
  }

  &__pagination {
    width: max-content !important;
    margin-top: 0 !important;
  }

  &__button {
    position: relative;
    z-index: 99;
    width: fluid(40, 50);
    height: fluid(40, 50);
    border-radius: 50%;
    background-color: var(--color-blue);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--color-accent);
    }
    svg {
      width: fluid(22, 28);
      height: fluid(22, 28);
      color: var(--color-white);
    }
  }
  &__container {
    background-color: var(--color-blue-light);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
  }

  &__body {
    padding: 0 rem(20);
    @include small {
      padding: 0;
    }
  }

  &__swiper {
    max-width: rem(880);
    margin: rem(-20) auto rem(-20) auto;
    padding: rem(20) 0;
    height: rem(470);
    @include small {
      height: auto;
      overflow: hidden;
    }
  }

  &__wrapper {
    height: 100%;
    @media (hover: hover) {
      pointer-events: none !important;
    }
  }
}

.cards-slide {
  background-color: var(--color-light);
  display: flex;
  align-items: stretch;
  column-gap: rem(18);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-light);
  height: 100%;

  @include small {
    height: auto;
    flex-direction: column;
  }

  &__image {
    flex: 0 1 rem(438);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    @include small {
      flex: 0 1 rem(350);
    }
    @include x-small {
      flex: 0 1 rem(220);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 0 1 rem(420);
    padding: fluid(16, 24);
    overflow: auto;
    @include small {
      flex: 0 1 auto;
    }
  }

  &__title {
    padding-bottom: rem(16);
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: fluid(32, 40);
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: rem(4);
      top: 100%;
      left: 0;
      background: linear-gradient(90deg, #3898ec 49.87%, #6299bc 50.01%, #fa9e0b 50.13%);
    }
  }

  &__text {
    font-size: rem(18);
    font-weight: 300;
    overflow: auto;
  }
}
