@use "../helpers/" as *;

.cta {
  margin-top: var(--section-space-y);
  margin-bottom: var(--section-space-y);
  padding: 0 var(--container-padding-x);

  &_has-link {
    .cta__buttons {
      @include medium {
        flex-direction: column;
        max-width: rem(500);
        margin: 0 auto;
        width: 100%;
      }

      @include x-small {
        max-width: 100%;
      }
    }
  }

  &__container {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-lg);
    padding: 0;
  }

  &__row {
    display: flex;
    @include large {
      flex-direction: column;
    }
  }

  &__image {
    position: relative;
    z-index: 22;
    flex: 0 1 rem(886);
    img {
      min-height: rem(200);
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-lg);
    }
    @include large {
      flex: 0 1 auto;
    }
  }

  &__content {
    max-width: rem(820);
    margin: 0 auto;
    padding: fluid(16, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    h2 {
      color: var(--color-white);
      margin-bottom: fluid(16, 24);
    }

    text-align: center;
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: rem(24);
  }

  &__buttons {
    display: flex;
    gap: rem(24);
    justify-content: center;
    @include x-small {
      flex-direction: column;
    }

    .cta__button-arrow {
      text-align: left;
      justify-content: flex-start;
      width: auto;
      display: inline-flex;
    }
  }

  &__button {
    white-space: normal;
  }

  &__button-arrow {
    text-align: center;
    justify-content: center;
    width: 100%;
    align-self: center;

    @include x-small {
      font-size: rem(14);
    }
  }
}
