@use "../helpers/" as *;

.dark-columns {
  &--3 {
    .dark-columns__column {
      flex: 0 1 33.33333333333333%;
    }
  }

  &__container {
  }

  &__columns {
    display: flex;
    gap: rem(20);

    @include large {
      flex-direction: column;
    }
  }

  &__column {
    flex: 0 1 50%;
    border-radius: var(--border-radius-md);
    padding: fluid(24, 40);
    background-color: var(--color-dark);
    color: var(--color-white);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;

    strong,
    b {
      font-weight: 700;
    }
    p,
    li {
      font-weight: 300;
    }
    p, ul {
      margin-bottom: rem(12);
    }
    ul {
      padding-left: rem(24);
    }
    li {
      list-style-type: disc;
      list-style-position: outside;

      &:not(:last-child) {
        margin-bottom: rem(12);
      }

      &::marker {
        font-size: rem(14);
      }
    }

    @include large {
      flex: 0 1 auto;
    }
  }

  &__title {
    text-align: center;
    font-size: fluid(24, 28);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: rem(12);
    &_accent {
      color: var(--color-blue);
    }

    &_blue {
      color: var(--color-accent);
    }
  }

  &__row {
    display: flex;
    gap: rem(12);

    @include medium {
      flex-direction: column;
    }
  }

  &__row-item {
  }
}
