@use "../helpers" as *;

.hero-saas {
  &__container {
    position: relative;
    overflow: visible;
  }

  &__content {
    position: relative;
    z-index: 23;

    @include large {
      padding-bottom: rem(300);
    }
  }

  &__image {
    position: absolute;
    right: rem(50);
    bottom: rem(-60);
    z-index: 22;
    max-width: 45%;

    @include large {
      max-width: 60%;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }

    @include small {
      max-width: 80%;
    }

    @include x-small {
      max-width: 100%;
    }

    &_sphe {
      right: 0;
    }
    &_attach-top {
      bottom: unset;
      top: 0;

      @include large {
        max-width: 60%;
        bottom: 0;
        right: unset;
        top: unset;
        left: 0;
        transform: translateX(0) rotate(180deg);
      }
    }
  }

  &__buttons {
    display: flex;
    gap: rem(16);

    @include small {
      flex-direction: column;
    }
  }
}
