@use "../helpers" as *;

.loc-description {
  &__container {
  }

  &__row {
    display: flex;
    gap: fluid(24, 56);
    padding: fluid(20, 40);

    @include large {
      padding: 0;
    }

    @include medium {
      flex-direction: column;
    }
  }

  &__content {
    background-color: var(--color-white) !important;
    flex: 1 1 rem(690);
    border-radius: rem(8);
    padding: fluid(24, 40);

    @include medium {
      flex: 0 1 auto;
    }
  }

  &__title {
  }

  &__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(8);
  }

  &__address-item {
    font-size: fluid(16, 18);
    font-weight: 300;
    line-height: 1.4;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-start;
    &::after {
      transform: translateY(rem(3));
    }

    a {
      text-decoration: underline;
      text-underline-offset: rem(3);
    }
  }

  &__button {
    margin-top: fluid(24, 32);
    padding-inline: fluid(30, 50);
  }

  &__map {
    flex: 1 1 rem(822);
    border-radius: rem(16);
    overflow: hidden;
    iframe {
      width: 100%;
      min-height: rem(400);

      @media (max-width: rem(540)) {
        min-height: rem(300);
      }
    }

    @include medium {
      flex: 0 1 auto;
    }
  }
}
