@use "../helpers" as *;

.meet-experts {
  &__slider {
    overflow: hidden;
  }

  &__wrapper {
  }

  &__slide {
    cursor: pointer;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    position: relative;
    @include hover {
      img {
        transform: scale(1.07);
      }
    }
  }

  &__image {
    img {
      transition: transform 0.5s ease;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    bottom: fluid(30, 50);
    left: 0;
    color: var(--color-white);
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
    background: rgba(0, 6, 15, 0.65);
    padding: fluid(27, 47) rem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 87%;
    transition: transform 0.3s ease;

    @include large {
      padding: rem(24) rem(16);
    }
  }

  &__content-name {
    color: inherit;
    font-size: fluid(22, 28);
    font-weight: 600;
    line-height: 1.2;
  }

  &__content-role {
    color: inherit;
    font-size: fluid(14, 16);
    line-height: 1.25;
    letter-spacing: -0.16px;
  }
  &__full-information {
    display: none;
  }

  &__full-body {
    background-color: var(--color-dark);
    display: flex;
    gap: rem(24) fluid(20, 80);
    padding: fluid(60, 90) fluid(16, 64) fluid(16, 64);
    @include medium {
      padding-top: rem(60);
    }

    @include large {
      flex-direction: column;
    }
  }

  &__full-image {
    flex: 0 0 30%;

    @include large {
      flex: 0 1 auto;
      height: rem(340);
      max-width: rem(350);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: var(--border-radius-md);
    }
  }

  &__full-content {
    color: var(--color-white);
    h3 {
      color: inherit;
      margin-bottom: fluid(20, 40);
      text-align: left;
    }
    p {
      font-weight: 300;
      font-size: fluid(18, 20);
    }
  }
}
