@use "../helpers/" as *;

.form-modal {
  &__content {
    background-color: var(--color-dark);
 
  }

  &__title {
    color: var(--color-white);
    text-align: center !important;
    font-size: rem(28);
    font-weight: 600;
    line-height: 1.2;
  }

  &__close {
    svg {
      color: var(--color-accent);
    }
  }
}
