@use "../helpers" as *;

.offers {
  &__container {
  }

  &__title {
    margin-bottom: fluid(32, 40);
    font-size: fluid(32, 36);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(450), 1fr));
    gap: fluid(20, 40);
  }

  &__item {
  }
}

.offer {
  border-radius: 16px;
  background-color: var(--color-light);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  padding: rem(24);

  &__header {
    margin-bottom: fluid(32, 40);
    display: flex;
    gap: rem(20);
    justify-content: space-between;
  }

  &__title {
  }

  &__price {
    color: var(--color-blue);
    font-size: fluid(32, 40);
    font-weight: 600;
    line-height: 1.2;
  }

  &__body {
    margin-bottom: rem(24);

    p {
      color: var(--color-dark);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: -0.16px;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__footer {
  }
}

.offer-description {
  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(24) fluid(20, 80);
  }

  &__column {
    font-size: fluid(16, 18);

    h2,
    h3,
    h4,
    h5 {
      text-align: center;
      color: var(--color-white);
      margin-bottom: rem(10);
      font-size: fluid(22, 24);
    }

    ul {
      padding-left: fluid(20, 32);
      li {
        list-style-type: disc;

        &:not(:last-child) {
          margin-bottom: rem(10);
        }
      }
    }
  }
}
