@use "../helpers/" as *;

.saas-diagram {
  &__container {
    padding-bottom: 0;
  }

  &__diagram {
    max-width: rem(1076);
    height: rem(539);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    @include large {
      height: auto;
      row-gap: rem(16);
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include large {
      display: none;
    }
  }

  &__items-title {
    text-align: center;
    color: var(--color-accent);
    @include above-large {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  &__list {
    margin-top: auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include large {
      row-gap: rem(16);
    }

    &_top {
      max-width: rem(470);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: rem(122);
      .saas-diagram__item {
        max-width: rem(200);
        @include large {
          max-width: 100%;
        }
      }
    }
    &_bottom {
      max-width: fluid(600, 900);
      margin: 0 auto rem(65) auto;
    }

    @include large {
      flex-direction: column;
      align-items: stretch;
      margin-top: 0;
      max-width: 100%;
      width: 100%;
      &_top {
        margin-bottom: 0;
      }
      &_bottom {
        margin-bottom: 0;
      }
    }
  }
  &__item {
    color: var(--color-white);
    text-align: center;
    max-width: rem(270);

    @include large {
      border-radius: var(--border-radius-md);
      background: linear-gradient(80deg, #00060f 9.02%, #002f75 45.11%);
      box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
      padding: fluid(16, 24);
      max-width: 100%;
    }

    h3 {
      color: inherit;
      font-size: fluid(20, 24);
    }
    p {
      font-size: rem(16);
      line-height: 1.25;
    }
  }
}
