@use "../helpers" as *;

.services-hero {
  &_location {
    .services-hero__container {
      position: relative;

      @include medium {
        flex-direction: column;
        row-gap: rem(24);
      }

      @include x-small {
        padding-bottom: rem(24) !important;
      }
    }
    .services-hero__content {
      max-width: 49%;

      @include medium {
        max-width: 100%;
      }
    }
    .services-hero__image {
      padding-top: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 49%;
      height: 100%;
      flex: 0 0 49%;
      img {
        width: 100%;
        height: 100%;
        object-fit: auto;
        object-position: right;
      }

      @include medium {
        position: static;
        width: 100%;
        height: 100%;
        flex: 0 1 auto;
        img {
          object-position: center;
        }
      }
    }
  }

  &_centered {
    .services-hero__container {
      align-items: center;
      background-size: auto 100%;
      background-position: right;
      padding: fluid(36, 64) fluid(24, 64) fluid(36, 64) fluid(24, 64);

      @include x-small {
        padding-bottom: rem(300);
        background-size: 150% auto;
        background-position: bottom center;
      }
    }
  }

  &__container {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 25% 90%;
    align-items: flex-start;

    @include large {
      background-position: center bottom;
      background-size: 80%;
    }

    @include small {
      background-size: cover;
    }

    @include x-small {
      row-gap: rem(24);
      flex-direction: column;
    }
  }

  &__content {
    padding-top: rem(40);
    flex: 0 0 60%;

    @include large {
      padding-top: 0;
    }

    @include x-small {
      flex: 0 1 auto;
    }
  }

  &__image {
    flex: 0 0 40%;
    z-index: 22;
    padding-top: rem(60);

    @include large {
      padding-top: 0;
    }

    @include x-small {
      max-width: rem(300);
      margin: 0 auto;
      flex: 0 1 auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__buttons {
    display: flex;
    position: relative;
    z-index: 222;
    gap: rem(16) rem(24);

    @include small {
      flex-direction: column;
    }
  }
}
