@use "../helpers" as *;

.why-choose {
  &__content {
    display: flex;
    align-items: flex-start;
    gap: rem(28) rem(43);
    @include large {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    background-color: var(--color-light);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow);
    padding: fluid(16, 24);
    ol {
      counter-reset: why-choose-counter;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: rem(5);
        height: 90%;
        background-color: var(--color-blue);
        top: 50%;
        transform: translateY(-50%);
        left: 2.1rem;
        @include x-small {
          left: 2.1rem;
          height: 80%;
          transform: translateY(-55%);
        }
      }
      li {
        counter-increment: whychoose-counter;
        position: relative;
        font-size: fluid(16, 20);
        font-weight: 300;
        position: relative;
        display: flex;
        column-gap: fluid(24, 40);
        padding: rem(10);

        &::before {
          content: counter(whychoose-counter);
          flex-shrink: 0;
          width: 3.25rem;
          height: 3.25rem;
          background-color: var(--color-blue);
          color: var(--color-white);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: rem(20);
          font-weight: 700;
          @include x-small {
            width: rem(45);
            height: rem(45);
            font-size: rem(18);
          }
        }
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__footer {
    margin-top: rem(40);
    text-align: center;
    @include small {
      text-align: left;
    }
  }

  &__footer-content {
    font-weight: 300;
    margin-bottom: rem(24);
  }

  &__footer-link {
  }
}
