@use "helpers" as *;

body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  font-size: rem(20);
  line-height: 1.4;
  background-color: var(--color-light);
}
.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}

h1, .h1, //
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.2;
  color: var(--color-dark);
  font-weight: 600;
}

h1,
.h1 {
  font-size: fluid(32, 80);
  color: var(--color-white);
}

h2,
.h2 {
  font-size: fluid(24, 32);
  font-weight: 600;
  margin-bottom: fluid(24, 40);
  text-align: center;
}
h3,
.h3 {
  font-size: fluid(22, 28);
}
h4,
.h4 {
  font-size: rem(20);
}

// a:not([class]) {
//   transition: opacity 0.3s ease;
//   color: var(--color-blue);
//   text-decoration: overline;
//   @include hover {
//     opacity: 0.8;
//   }
// }

p:not([class]):not(:last-of-type) {
  margin-bottom: rem(16);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}
