@use "reset";
@use "fonts";
@use "variables";
@use "utils";
@use "typography";
@use "globals";
@use "helpers" as *;

// Importing components
@use "./components/footer";
@use "./components/header";
@use "./components/buttons";
@use "./components/front-hero";
@use "./components/back-top-button";
@use "./components/base-section";
@use "./components/why-choose";
@use "./components/benefits";
@use "./components/what-we-do";
@use "./components/cards-slider";
@use "./components/cta";
@use "./components/case-studies";
@use "./components/google-review";
@use "./components/trust-badges";
@use "./components/partners";
@use "./components/slider-pagination";
@use "./components/meet-experts";
@use "./components/modal";
@use "./components/expert-modal";
@use "./components/faq";
@use "./components/cta-col";
@use "./components/about-hero";
@use "./components/team";
@use "./components/saas-diagram";
@use "./components/simple-rows";
@use "./components/saas-statistics";
@use "./components/base-hero";
@use "./components/hero-saas";
@use "./components/cta-form";
@use "./components/hor-accordion";
@use "./components/saas-choose";
@use "./components/cta-full";
@use "./components/services-hero";
@use "./components/core-services";
@use "./components/compliance-management";
@use "./components/comanaged-clients";
@use "./components/products";
@use "./components/adhoc-services";
@use "./components/rows-list";
@use "./components/why-cm";
@use "./components/offer-mic";
@use "./components/sca-build";
@use "./components/dark-columns";
@use "./components/modal-form";
@use "./components/why-choose-it";
@use "./components/light-columns";
@use "./components/cards";
@use "./components/dark-grid-mul-rows";
@use "./components/columns-with-columns-list";
@use "./components/not-found";
@use "./components/resources";
@use "./components/single-article";
@use "./components/contact";
@use "./components/locations";
@use "./components/loc-description";
@use "./components/offers";
@use "./components/modal-offer";
