@use "helpers" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.no-particles {
  z-index: 21;
  position: relative;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;
  object-fit: cover;
}

.inline-icon {
  --size: #{rem(30)};
  --gap: #{rem(10)};

  display: inline-flex;
  align-items: center;
  column-gap: var(--gap);

  &::after {
    transition: transform 0.3s ease;
    width: var(--size);
    height: var(--size);
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_blue-arrow {
    --size: #{rem(24)};
    --gap: #{rem(4)};

    @include hover {
      &::after {
        transform: translateX(rem(5));
      }
    }

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%220%200%2024%2025%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13.75%207.25L19.25%2012.5L13.75%2017.75M19%2012.5H4.75%22%20stroke%3D%22%233898EC%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
  &_menu-item-arrow {
    --size: #{rem(24)};
    --gap: #{rem(0)};
    display: flex;
    align-items: center;
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%220%200%2024%2025%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M15.25%2011.25L12%2014.75L8.75%2011.25%22%20stroke%3D%22%2300060F%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
  &_yellow-arrow {
    --size: #{rem(24)};
    --gap: #{rem(0)};
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13.25%2015.25L9.75%2012L13.25%208.75%22%20stroke%3D%22%23FA9E0B%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
  &--phone {
    flex-direction: row-reverse;
    &::after {
      --size: #{rem(16)};
      --gap: #{rem(12)};
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.893.75H2.068C1.34.75.75%201.34.75%202.068c0%207.28%205.902%2013.182%2013.182%2013.182.728%200%201.318-.59%201.318-1.318v-2.825l-3.107-2.071-1.611%201.61c-.28.28-.698.368-1.05.186a11%2011%200%200%201-2.518-1.796%208.7%208.7%200%200%201-1.836-2.542c-.16-.34-.067-.733.199-1l1.637-1.637z%22%20stroke%3D%22%233898EC%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
  &--email {
    flex-direction: row-reverse;
    &::after {
      --size: #{rem(16)};
      --gap: #{rem(12)};
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2014%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1.5%201.5%208%207.25l6.5-5.75M2.75%2013.25h10.5a2%202%200%200%200%202-2v-8.5a2%202%200%200%200-2-2H2.75a2%202%200%200%200-2%202v8.5a2%202%200%200%200%202%202%22%20stroke%3D%22%233898EC%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
  &--location {
    flex-direction: row-reverse;
    &::after {
      --size: #{rem(16)};
      --gap: #{rem(12)};
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13.25%207c0%204-6.25%208.25-6.25%208.25S.75%2011%20.75%207C.75%203.5%203.686.75%207%20.75S13.25%203.5%2013.25%207%22%20stroke%3D%22%233898EC%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M9.25%207a2.25%202.25%200%201%201-4.5%200%202.25%202.25%200%200%201%204.5%200%22%20stroke%3D%22%233898EC%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
}

.accordion-button {
  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M16.9993%207.6665C16.9993%207.11422%2016.5516%206.6665%2015.9993%206.6665C15.4471%206.6665%2014.9993%207.11422%2014.9993%207.6665V14.9998H7.66602C7.11373%2014.9998%206.66602%2015.4476%206.66602%2015.9998C6.66602%2016.5521%207.11373%2016.9998%207.66602%2016.9998H14.9993V24.3332C14.9993%2024.8855%2015.4471%2025.3332%2015.9993%2025.3332C16.5516%2025.3332%2016.9993%2024.8855%2016.9993%2024.3332V16.9998H24.3327C24.885%2016.9998%2025.3327%2016.5521%2025.3327%2015.9998C25.3327%2015.4476%2024.885%2014.9998%2024.3327%2014.9998H16.9993V7.6665Z%22%20fill%3D%22%2300060F%22%2F%3E%3C%2Fsvg%3E");
    width: fluid(32, 40);
    height: fluid(32, 40);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.is-active {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M24.3327%2016.3335H7.66602%22%20stroke%3D%22%2300060F%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }
}
