@use "helpers" as *;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light: #fffefa;
  --color-gray: #f8f8f8;
  --color-dark-gray: #455d75;
  --color-accent: #fa9e0b;
  --color-accent-light: #f8f6ec;
  --color-blue: #3898ec;
  --color-blue-light: #f0f8ff;
  --color-dark: #00060f;
  --light-gradient: linear-gradient(180deg, #f8f6ec 0%, #e8eeec 87.5%, #d7e6ec 100%);
  --border-radius-lg: #{rem(24)};
  --border-radius-md: #{rem(16)};
  --border-radius-sm: #{rem(8)};
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-faq: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --shadow-md: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  --shadow-light: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  --font-family-base: "Onest", sans-serif;

  --container-width: #{rem(1840)};
  --container-padding-x: #{rem(20)};
  --section-space-y: #{rem(30)};
}
