<div id="expert-modal" aria-hidden="true" class="expert-modal modal" role="dialog" aria-labelledby="modal-1-title">
  <div tabindex="-1" data-micromodal-close class="expert-modal__body modal__body">
    <div class="expert-modal__inner modal__inner">
      <div class="expert-modal__content modal__content">
        <button class="expert-modal__close modal__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <div class="expert-modal__info" data-modal-inner>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, saepe impedit. Reiciendis, similique!
          Iusto velit, maxime quae facere labore voluptates vitae laborum ipsa qui accusantium dicta voluptatum, dolores
          dolore. At?
        </div>
      </div>
    </div>
  </div>
</div>
