<footer class="footer">
  <div class="footer__inner">
    <div class="footer__container container">
      <div class="footer__main main-footer">
        <div class="main-footer__info">
          <a href="/" class="main-footer__info-logo-wrapper">
            <img src="/images/logo.svg" alt="#" class="main-footer__info-logo" loading="lazy" />
          </a>
          <p class="main-footer__info-text">
            Protect your business with expert cybersecurity consulting. Contact Aegis IT Solutions for a tailored
            security strategy that keeps your operations safe from cyber threats.
          </p>
        </div>
        <nav class="main-footer__nav">
          <ul class="main-footer__nav-list">
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Home</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Locations</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">About Us</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Resources</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Industries</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Blog</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Services</a></li>
            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__contacts contacts-footer">
        <address class="contacts-footer__address">
          <h2 class="contacts-footer__address-title">Contact:</h2>
          <a href="#">551-299-2001</a>
          <a href="#">info@aegisitsolutions.net</a>
        </address>
        <div class="contacts-footer__socials">
          <a href="#" class="contacts-footer__social-link">
            <img src="/images/socials/facebook.svg" alt="Facebook" class="contacts-footer__social-icon" />
          </a>
          <a href="#" class="contacts-footer__social-link">
            <img src="/images/socials/twitter.svg" alt="twitter" class="contacts-footer__social-icon" />
          </a>
          <a href="#" class="contacts-footer__social-link">
            <img src="/images/socials/linkedin.svg" alt="LinkedIn" class="contacts-footer__social-icon" />
          </a>
          <a href="#" class="contacts-footer__social-link">
            <img src="/images/socials/instagram.svg" alt="Instagram" class="contacts-footer__social-icon" />
          </a>
          <a href="#" class="contacts-footer__social-link">
            <img src="/images/socials/business.svg" alt="business" class="contacts-footer__social-icon" />
          </a>
        </div>
      </div>
      <div class="footer__copyright">
        <p>
          © 2025. Aegis IT Solutions. All rights reserved. Website by <a href="#">Media Components</a>.
          <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a>
        </p>
      </div>
    </div>
  </div>
</footer>
