<div
  id="contact-form-modal"
  aria-hidden="true"
  class="form-modal modal"
  role="dialog"
  aria-labelledby="contact-form-modal-title"
>
  <div tabindex="-1" data-micromodal-close class="modal__body">
    <div class="modal__inner">
      <div class="form-modal__content modal__content">
        <button class="form-modal__close modal__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <h2 class="form-modal__title modal__title" id="modal-1-title">Ready to Protect Your Business?</h2>
        <div class="modal__form">
          <script type="text/javascript" src="https://form.jotform.com/jsform/251562196209156"></script>
        </div>
      </div>
    </div>
  </div>
</div>
