<header class="header" data-js-header id="top">
  <div class="header__container container">
    <a href="/" class="header__logo-wrapper" aria-label="Home">
      <img src="/images/logo.svg" alt="Logo" class="header__logo" />
      <img src="/images/logo-mobile.svg" alt="Logo" class="header__logo header__logo_mobile" />
    </a>
    <div class="header__main">
      <nav class="header__nav" role="navigation" aria-label="Main navigation">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link">Home</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link">About Us</a>
          </li>
          <li class="header__nav-item has-submenu">
            <a class="header__nav-link inline-icon inline-icon_menu-item-arrow">Industries</a>
            <div class="header__nav-item-content nav-content">
              <div class="nav-content__wrapper">
                <div class="nav-content__content">
                  <span class="nav-content__title">Industries</span>
                  <ul class="nav-content__list">
                    <li class="nav-content__item">
                      <a>SaaS Industries</a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="nav-content__item">
                      <a>Automotive Industries </a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="nav-content__item">
                      <a>Accounting</a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="nav-content__item">
                      <a>Legal</a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                  </ul>
                </div>
                <div class="nav-content__info">
                  <img src="/images/header-image.png" alt="" class="nav-content__info-image" />
                  <div class="nav-content__info-content">
                    <span class="nav-content__info-title">Corem ipsum dolor sit amet</span>
                    <a class="button">Get Protected Today</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="header__nav-item has-submenu">
            <a class="header__nav-link inline-icon inline-icon_menu-item-arrow">Services</a>
            <div class="header__nav-item-content nav-content">
              <div class="nav-content__wrapper">
                <div class="nav-content__content">
                  <span class="nav-content__title">Industries</span>
                  <ul class="nav-content__list">
                    <li class="nav-content__item">
                      <a>SaaS Industries</a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="nav-content__item">
                      <a>Automotive Industries </a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="nav-content__item">
                      <a>Accounting</a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li class="nav-content__item">
                      <a>Legal</a>
                      <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                  </ul>
                </div>
                <div class="nav-content__info">
                  <img src="/images/header-image.png" alt="" class="nav-content__info-image" />
                  <div class="nav-content__info-content">
                    <span class="nav-content__info-title">Corem ipsum dolor sit amet</span>
                    <a class="button">Get Protected Today</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link">Locations</a>
          </li>
        </ul>
      </nav>
      <div class="header__actions">
        <a
          href="tel:551-299-2001"
          class="header__cta button-arrow inline-icon inline-icon_blue-arrow"
          aria-label="Call us"
          >Speak with an Expert</a
        >
      </div>
    </div>

    <button
      data-js-header-trigger-button
      class="header__button"
      type="button"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="header-overlay"
      id="menu-toggle"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav
      id="header-overlay"
      class="header__overlay header-overlay"
      aria-labelledby="menu-toggle"
      role="navigation"
      aria-label="Mobile navigation"
      data-js-header-overlay
    >
      <div class="header-overlay__panels">
        <div class="header-overlay__panel is-active" data-lenis-prevent data-js-header-panel data-panel-id="main">
          <ul class="header-overlay__nav-list">
            <li class="header-overlay__nav-item">
              <a class="header-overlay__nav-link">Home</a>
            </li>
            <li class="header-overlay__nav-item">
              <a class="header-overlay__nav-link">About Us</a>
            </li>
            <li class="header-overlay__nav-item">
              <a
                class="header-overlay__nav-link next-panel inline-icon inline-icon_menu-item-arrow"
                data-panel="industries"
                >Industries</a
              >
            </li>
            <li class="header-overlay__nav-item">
              <a class="header-overlay__nav-link">Locations</a>
            </li>
            <li class="header-overlay__nav-item">
              <a
                class="header-overlay__nav-link next-panel inline-icon inline-icon_menu-item-arrow"
                data-panel="services"
                >Services</a
              >
            </li>
            <li class="header-overlay__nav-item">
              <a class="header-overlay__nav-link">Blog</a>
            </li>
            <li class="header-overlay__nav-item">
              <a class="header-overlay__nav-link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="header-overlay__panel to-right" data-lenis-prevent data-js-header-panel data-panel-id="industries">
          <div class="header-overlay__panel-head">
            <button
              type="button"
              aria-label="Back"
              title="back"
              class="header-overlay__panel-back prev-panel inline-icon inline-icon_yellow-arrow"
            >
              Back
            </button>
          </div>
          <div class="header-overlay__nav-content nav-content">
            <div class="nav-content__wrapper">
              <div class="nav-content__content">
                <span class="nav-content__title">Industries</span>
                <ul class="nav-content__list">
                  <li class="nav-content__item">
                    <a>SaaS Industries</a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                  <li class="nav-content__item">
                    <a>Automotive Industries </a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                  <li class="nav-content__item">
                    <a>Accounting</a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                  <li class="nav-content__item">
                    <a>Legal</a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                </ul>
              </div>
              <div class="nav-content__info">
                <img src="/images/header-image.png" alt="" class="nav-content__info-image" />
                <div class="nav-content__info-content">
                  <span class="nav-content__info-title">Corem ipsum dolor sit amet</span>
                  <a class="button">Get Protected Today</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-overlay__panel to-right" data-lenis-prevent data-js-header-panel data-panel-id="services">
          <div class="header-overlay__panel-head">
            <button
              type="button"
              aria-label="Back"
              title="back"
              class="header-overlay__panel-back prev-panel inline-icon inline-icon_yellow-arrow"
            >
              Back
            </button>
          </div>
          <div class="header-overlay__nav-content nav-content">
            <div class="nav-content__wrapper">
              <div class="nav-content__content">
                <span class="nav-content__title">Services</span>
                <ul class="nav-content__list">
                  <li class="nav-content__item">
                    <a>SaaS Industries</a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                  <li class="nav-content__item">
                    <a>Automotive Industries </a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                  <li class="nav-content__item">
                    <a>Accounting</a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                  <li class="nav-content__item">
                    <a>Legal</a>
                    <p>Corem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </li>
                </ul>
              </div>
              <div class="nav-content__info">
                <img src="/images/header-image.png" alt="" class="nav-content__info-image" />
                <div class="nav-content__info-content">
                  <span class="nav-content__info-title">Corem ipsum dolor sit amet</span>
                  <a class="button">Get Protected Today</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
